@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-background: #ffffff;
  --primary-text-color-icon: #000000;
  --secondary-background-color: #d9d9d9;
  --button-background: #cf7474;
  --border-color: #000;
  --border-color-hover: #cf7474;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

.btn {
  background: var(--button-background);
  border: 1px solid var(--border-color);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 55px;
}

button {
  background: none;
  border: none;
}

body,
.root,
.app-container {
  min-height: 100vh;
  background-color: var(--primary-background);
}

.app-container {
  display: flex;
  flex-direction: column;
}

.loading {
  position: sticky;
  top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 5px solid var(--border-color);
  background-color: var(--secondary-background-color);
}

#logo {
  background-color: var(--button-background);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary-text-color-icon);
  font-weight: bold;
  font-size: 32px;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

select {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

nav > ul > li > button {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-info img {
  border-radius: 55px;
  border: 2px solid var(--border-color);
  background: var(--primary-text-color-icon);
}

.profile-info button {
  cursor: pointer;
}

.profile-info button:hover {
  color: var(--border-color-hover);
  transition: all 0.3s ease;
}

main {
  padding: 2rem 6rem;
}

.main-body {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 3fr;
}
.home-page > h1 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.main-body > aside > ul {
  /* width: 100%; */
  height: fit-content;
  background-color: var(--secondary-background-color);
  gap: 1rem;
  border-radius: 0.8rem;
  border-top: 5px solid var(--border-color);
  border-left: 5px solid var(--border-color);
  transition: all 0.3s ease;
  padding: 2rem;
} 

.category-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

aside  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

aside > ul:hover {
  border-top: 5px solid var(--border-color-hover);
  border-left: 5px solid var(--border-color-hover);
}


.category-item {
  border: 1px solid var(--border-color);
  padding: .5rem;
  cursor: pointer;
}

.category-item:active {
  background-color: #f0f0f0;
}

.selected {
  outline: 3px solid var(--border-color-hover);
}

.thread-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.thread-list > li {
  background-color: var(--secondary-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.8rem;
  border-top: 5px solid var(--border-color);
  border-left: 5px solid var(--border-color);
  transition: all 0.3s ease;
}

.thread-list > li:hover {
  border-top: 5px solid var(--border-color-hover);
  border-left: 5px solid var(--border-color-hover);
}

.thread-list > li > h2 {
  width: fit-content;
  cursor: pointer;
}

.thread-list > li > h2:hover {
  color: var(--border-color-hover);
  transition: all 0.3s ease;
}

.thread-info {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

.thread-info > div {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  transition: all 0.3s ease;
}

.users-threads-info > img {
  width: 1rem;
  border-radius: 100%;
}

.likes:hover,
.dislikes:hover {
  color: var(--border-color-hover);
  cursor: pointer;
}

/* login page */
.login-container {
  display: flex;
  justify-content: center;
}
#login-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 60%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.login-form > * {
  width: fit-content;
}

.login-form > input {
  width: auto;
  padding: .5rem;
  border-radius: .5rem;
}

.login-form > button {
  margin-top: 1rem;
}

/* register page */
.register-container {
  display: flex;
  justify-content: center;
}
#register-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 60%;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.register-form > * {
  width: fit-content;
}

.register-form > input {
  width: auto;
  padding: .5rem;
  border-radius: .5rem;
}

.register-form > button {
  margin-top: 1rem;
}

/* detail page */
.detail-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.detail-thread {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--secondary-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.8rem;
  border-top: 5px solid var(--border-color);
  border-left: 5px solid var(--border-color);
  transition: all 0.3s ease;
}

.detail-thread:hover {
  border-top: 5px solid var(--border-color-hover);
  border-left: 5px solid var(--border-color-hover);
}

.give-comment {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--secondary-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.8rem;
  border-bottom: 5px solid var(--border-color);
  border-right: 5px solid var(--border-color);
  transition: all 0.3s ease;
}

.give-comment:hover {
  border-bottom: 5px solid var(--border-color-hover);
  border-right: 5px solid var(--border-color-hover);
}


.detail-comments {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--secondary-background-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.8rem;
  border-bottom: 5px solid var(--border-color);
  border-right: 5px solid var(--border-color);
  border-left: 5px solid var(--border-color);
  transition: all 0.3s ease;
}

.detail-comments:hover {
  border-bottom: 5px solid var(--border-color-hover);
  border-right: 5px solid var(--border-color-hover);
  border-left: 5px solid var(--border-color-hover);
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-list > li {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: .5rem;
}

.comment-profile-info {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.comment-profile-info > img {
  width: 2rem;
  border-radius: 100%;
}

.comment-info {
  display: flex;
  gap: 1rem;
}

.comment-info > div {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#comment-input {
  resize: vertical;
  padding: .5rem;
  border-radius: .5rem;
}

/* add thread page */

.add-thread-container {
  display: flex;
  justify-content: center;
}
#add-thread-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 80%;
}

.add-thread-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.add-thread-form > * {
  width: fit-content;
}

.add-thread-form > input {
  width: auto;
  padding: .5rem;
  border-radius: .5rem;
}
.add-thread-form > textarea {
  width: auto;
  padding: .5rem;
  border-radius: .5rem;
  resize: vertical;
  min-height: 20rem;
}

.add-thread-form > button {
  margin-top: 1rem;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  background-color: var(--secondary-background-color);
  border-top: 5px solid var(--border-color);
}
